*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top:90px ;  
    font-family: Arial, Helvetica, sans-serif;
    font-size:120%;
}
    
    #header {
        background-color: rgb(240, 240, 72);
        width:  100%;
        height: 50px;
        border-bottom: 2px green;
        padding-left :25px ; 
        padding-top: 20px;        
        box-shadow: 0px 10px 0px 0px grey;
        position: fixed;
        top:0;
        left:0;
        
    }
    ul{
        list-style-type: none;
    }

      li  {
         padding-left: 50px;
          display: inline;
          text-decoration: none;
      }
       
          img{
            border-radius: 50%;
             margin-right:20px;
             margin-top:20px;
             margin-bottom: 20px;
             float: left;
          }

       
        #content{
        width: 1300px ;
         margin-top:90px ;
        margin-left: 40px;
        padding-bottom: 120px;
        background-color: rgb(248, 247, 246);
        border: 2px rgb(137, 139, 133);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        left: 45px;
        
       
    }
    #mainContent{
        width:800px;
        border-right:  2px grey solid; 
        padding-right: 120px;
        padding-left: 120px;
        padding-top: 60px;
    }
    #sideBar{
        
        width:300px;
       left: 920px;
       top:250px;
        position: absolute;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 60px;
        margin-top:90px ;
    }
    #footer{
        width: auto;
        background-color:#666666;
        position:relative;
        top: 100px;
        height: 300px;

    }